*.trs
*.log
*.dat
*.vtk
*.html
*_phi.msh
2dpwr-structured-*
2dpwr-unstructured-*
2dpwr-table*
2dpwr*.msh
2dpwr.md
eighth*.geo
eighth*.msh
slab.gp
slab.pdf
square-*
square.gp
square.md
square.svg
bunny_phi.geo
bunny.brep

meta*.msh
col_*.msh
