*.trs
*.log
*.dat
*.txt.md
*.vtk
*-base.msh
*_out.msh
square-*.msh
2dpwr.msh
2dpwr-*.msh
eighth*.geo
eighth*.msh
bunny.geo
bunny_orig.msh
bunnyscale.mil
bunny.stp
bunny.brep
bunny.pvsm

meta*.msh
col_*.msh
